{% extends "pages/base.html" %}

{% load i18n %}

{% block content %}
    {% get_current_language as LANGUAGE_CODE %}
    <h1>{{ LANGUAGE_CODE }}</h1>

    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <input type="hidden" name="next" value="{{ redirect_to }}">
        <select name="language" id="">
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="OK">
    </form><br>

    <div>
        {% for order in CURR_ORDERS %}
            {{ order.table }}: {{ order.dishes }}<br>
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
    <style>
        .li-list-item {
            list-style: none;
            background: #0033cc;
            color: white;
            line-height: 2em;
            padding: 0 0.5em;
            overflow: hidden;
            width: 10em;
            height: auto;
            margin: 2px 0;
        }
    </style>
    <script>
        $(document).ready(function(){
            var socket = new WebSocket('ws://' + window.location.host + '/ws/connections/');

            socket.onmessage = function(e) {
                var data = JSON.parse(e.data);
                var message = data['message'];
                $('#mess').append(message);

            };
            $("#test-btn").click(function(e){
                var messageInput = $("#test-input").val();
                socket.send(JSON.stringify({
                    'message': messageInput
                }));
                $("#test-input").val("");
            });
            $("#add-order-btn").click(function(){
                $("#order-list").append('<li class="li-list-item">Test</li>');
            });
        });
    </script>
    <div>
        <button id="add-order-btn">Add</button>
        <ul id="order-list">
            {% for item in cacheData %}
                <li class="li-list-item">Test</li>
            {% endfor %}
        </ul>
        <textarea id="mess" cols="100" rows="20">{{ cacheData }}</textarea><br>
        <input id="test-input" type="text" />
        <input id="test-btn" type="button" value="Connect" />
    </div>
{% endblock %}